{% extends 'base.html' %}

{% block header %}
<div class="row">
    <div class="col-sm-6 col-md-8">
        <h2>{{ student['Name'] }}</h2>
    </div>
</div>
{% endblock %}

{% block content %}

<form action="{{ url_for('update_students', stdId=student['id'] ) }}" method="post">
    <div class="form-group">
        <label for="id">ID</label>
        <input name="id" id="id" class="form-control" value="{{student['id']}}" placeholder="T000XXX" required>
    </div>

    <div class="form-group">
        <label for="name">Nombre y apellido</label>
        <input name="name" class="form-control" id="name" value="{{student['name']}}" placeholder="Victor" required>
    </div>

    <div class="form-group">
        <label for="course">Curso</label>
        <input name="course" class="form-control" id="course" placeholder="Calculo II" value="{{student['course']}}"
            required>
    </div>

    <button type="submit" class="btn btn-primary">Actualizar</button>

</form>
{% endblock %}